<div class="row">
	<div class="col-md-6">
		<div class="pet-pic-container"><img class="pet-pic" src="<%= @pet.thumbnail %>", class="img-rounded"></div>
	</div>
	<div class="col-md-6">
		<h1><strong><%= @pet.name %></strong></h1>

		<% years = @pet.age / 12 %>
		<% months = @pet.age % 12  %>
		<% age = "#{years} years and #{months} months old" %>
		<% pounds = @pet.weight / 16 %>
		<% oz = @pet.weight % 16 %>
		<% weight = "#{pounds}lb and #{oz}oz" %>
		<div class="pet-attributes"> Age: <%= age %> </div>
		<div class="pet-attributes"> Sex: <%= @pet.gender %></div>
		<div class="pet-attributes"> Weight: <%= weight %></div> <br>
		<div class="pet-description-container"><p class="pet-description"> <%= @pet.description %> </p></div>

		<div class="pet-attributes">Contact <%= link_to @pet.name, "https://www.sfspca.org/adoptions/pet-details/#{@pet.shelter_id}", :target => "_blank" %> </div>		

	</div>

</div>
