
<!-- Modal -->
<div id="edit_prefs_Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Pet Preferences</h4>
      </div>
      <div class="modal-body">

<%= form_for @preference do |f|%>
	<p>What is your prefered animal?</p>
	<%= f.select :cat_or_dog, options_for_select([['cat'], ['dog']]) %>

	<p>What is your activity level?</p>
	<%= f.select :activity_level, options_for_select([['High'], ['Medium'], ["Low"]]) %>

	<!-- need hidded field that contains @user.id -->
	<p> Do you have young children(less than 5 years old)?</p>
	<%= f.select :young_children, options_for_select([['yes', 1], ['no', 2]]) %>

	<p>How big is your home? One bedroom or studio(not a lot of space)</p>
	<%= f.select :size_of_home, options_for_select([['small apartment', 1], ['big apartment', 2], ["house", 3]]) %>

	<p> How much time would you be able to spend with your pet each day? </p>
	<%= f.select :time_with_pet, options_for_select([['not a lot'], ['decent amount'], ["lots of time"]]) %>

	<p> Are you willing to spend a lot of time training a pet?</p>
	<%= f.select :training_pet, options_for_select([['yes'], ['no']]) %>
	<div style="display: none">
		<%= f.text_field :user_id, value: "#{@user.id}" %>
	</div> <br>
	<br>
	<%= f.submit "Submit",  class: "btn btn-primary"%>
<% end %>

 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
