<h1>Hey <%=@user.first_name.upcase%>! Check out these hot animals in your area!</h1> <br>

<button class="edit"> <%= link_to "Edit your preferences!", edit_preferences_path(@user.id) %><br> </button>

<%= button_to "Refresh pets", matches_path %>
<div class="row" style="margin-top: 80px;">
	<div class="col-md-12">
	<% @pets.each do |pet| %>
		<% if pet.thumbnail == nil %>
			<div style="display: none;"><%= pet.species %></div>
		
		<% else %>
			<div class="col-md-3 text-center">
				<%= link_to image_tag(pet.thumbnail), pet_path(pet.id), class: "img img-thumbnail" %>
				<p><%= link_to pet.name, pet.link %> </p>
				<%= button_to "Favortite this pet!", "/users/favorites/#{pet.id}" %> 
			</div>
		
		<% end %>
	<% end %>

	</div>
</div>
