Check out these hot animals in your area!
<%= @user.first_name %> <br>

<%= link_to "edit", edit_preferences_path(@user.id) %>

<%= button_to "Refresh pets", matches_path %>
<div class="row" style="margin-top: 200px;">
	<div class="col-md-12">
	<% @pets.each do |pet| %>
		<% if pet.thumbnail == nil %>
			<div style="display: none;"><%= pet.species %></div>
		
		<% else %>
			<div class="col-md-3 text-center">
				<img class="matches" src="<%= pet.thumbnail %>" width="220" height="220">
				<p><%= link_to pet.name, pet.link %> </p>
			</div>
		
		<% end %>
	<% end %>

	</div>
</div>
