<div class="row">
	<div class="col-md-9">
		<h1>Hey <%=@user.first_name.capitalize%>! Here are the available pets in your area:</h1>
	</div>
	<div class="col-md-2 col-md-offset-1">
		<%= button_to "Refresh pets", matches_path, class: "refresh-button btn btn btn-success" %>
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit_prefs_Modal" style="margin: 10px 0 0 15px;">Edit Preferences</button>
	</div>
</div>

<div class="row" style="margin-top: 80px;">
	<div class="col-md-12">
	<% @pets.each do |pet| %>
		<% if pet.thumbnail == nil %>
			<div style="display: none;"><%= pet.species %></div>
		
		<% else %>

			<div class="col-md-3 text-center matchesDiv">
				<%= link_to image_tag(pet.thumbnail), pet_path(pet.id), class: "img img-thumbnail" %>
				<p><%= pet.name %> </p>
				<% if UserPet.all.where(user_id: @user.id).where(pet_id: pet.id) == [] %>
					<%= link_to "Add to Favorites", "/user_pets/#{pet.id}", method: :post, class: "fave-button btn btn-success" %> 
				<% end %>
			</div>
		
		<% end %>
	<% end %>

	</div>
</div>
<%= render 'users/edit_prefs_modal'%> 