<h1>Hey <%=@user.first_name.capitalize%>! Check out these hot animals in your area!</h1> <br>

<div class="row" style="margin-top: 80px;">
	<%= button_to "Refresh pets", matches_path, class: "refresh-button btn btn btn-success" %>
	<div class="col-md-12">
	<% @pets.each do |pet| %>
		<% if pet.thumbnail == nil %>
			<div style="display: none;"><%= pet.species %></div>
		
		<% else %>

			<div class="col-md-3 text-center matchesDiv">
				<%= link_to image_tag(pet.thumbnail), pet_path(pet.id), class: "img img-thumbnail" %>
				<p><%= pet.name %> </p>
				<% if UserPet.all.where(user_id: @user.id).where(pet_id: pet.id) == [] %>
					<%= link_to "Add to Favorites", "/user_pets/#{pet.id}", method: :post, class: "fave-button btn btn-success" %> 
				<% end %>
			</div>
		
		<% end %>
	<% end %>

	</div>
</div>
