<div>
<%=form_for @user do |f| %>
	<%= f.text_field :first_name, placeholder: "first name" %> <br>
	<%= f.text_field :last_name , placeholder: "last name" %> <br>
	<%= f.email_field :email, placeholder: "email" %> <br>
	<%= f.password_field :password, placeholder: "password" %><br>
	<%= f.text_field :photo_url, placeholder: "Profile Image URL" %><br>
	<%= f.submit "sign up"%>
<% end %>
</div>