

<% if current_user == @user %>
<div class="jumbotron">

<h3>Hello, <%= @user.first_name.capitalize %></h3></div>
<% else %>
<div class="jumbotron">
<h3><%= @user.first_name.capitalize %>'s page</h3></div>
<% end %>

<% @pets.each do |pet| %>

	<%= pet.name %> <br>
	<img src="<%= pet.thumbnail %>	">
	<%= pet.breed %> <br>
	<%= pet.species %> <br>
	<%= pet.age %> <br>
	<%= pet.gender %>
	<h3> ACTIVITY LEVEL</h3><%= pet.activity_level%>
<% end %>









<% @user %>'s pet survey
<br>
<%= @user.survey_info %>
<hr>


<!-- logout button -->
<%= button_to "Logout", logout_path, class: "btn btn-primary", method: :delete %>