
<%= image_tag(@user.photo_url)%>


<% if current_user == @user %>

<div class="jumbotron">

<h3>Hello, <%= @user.first_name.capitalize %></h3></div>

<% else %>
	<div class="jumbotron">
	<h3><%= @user.first_name.capitalize %>'s page</h3></div>
<% end %>

 <%= link_to "View your matches!", "/users/#{@user.id}/matches", class: "btn btn btn-success" %><br>


<% if current_user == @user %>
	<div class="row" style="margin-top: 80px;">
		<div class="col-md-12">
		<% @user.pets.each do |pet|%>
			<% if pet.thumbnail == nil %>
				<div style="display: none;"><%= pet.species %></div>
			
			<% else %>
				<div class="col-md-3 text-center">
					<%= link_to image_tag(pet.thumbnail), pet_path(pet.id), class: "img img-thumbnail" %>
					<p><%= link_to pet.name, pet.link %> </p>
					<%= button_to "Remove from favorites", "/user_pets/delete/#{pet.id}" %> 
				</div>
			
			<% end %>
		<% end %>
		</div>
	</div>
<!-- non-modal edit prefs -->

<!-- modalized -->
	
<%end%>
<br>

<hr>


<!-- took that part out because I'm not sure we'll be using it -->










<!-- logout button -->
<%= button_to "Logout", logout_path, class: "btn btn-primary", method: :delete %>
