
<%= image_tag(@user.photo_url)%>


<% if current_user == @user %>

<div class="jumbotron">

<h3>Hello, <%= @user.first_name.capitalize %></h3></div>

<% else %>
	<div class="jumbotron">
	<h3><%= @user.first_name.capitalize %>'s page</h3></div>
<% end %>

<% if current_user == @user %>
	<% @user.pets.each do |pet|%>
		<img src="<%= pet.thumbnail %>">
	<% end %>
<!-- non-modal edit prefs -->

<!-- modalized -->
	<%= render 'users/edit_prefs_modal'%>
<%end%>
<br>

<hr>


<!-- took that part out because I'm not sure we'll be using it -->










<!-- logout button -->
<%= button_to "Logout", logout_path, class: "btn btn-primary", method: :delete %>
