<!DOCTYPE html>
<html>
<head>
  <title>Pet-Match</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
<div id="wrapper">
<%= render partial: "layouts/navbar2", locals: {user: @user} %>

  <div class="container">
    <%= yield %>
  </div>
  

  <!-- modal -->
  <% if @user %>
  <%= render 'users/edit_user_modal', locals: {user: @user, preference: @preference} %>
  <% end %>

<%= render 'layouts/welcome_modal'%>
<h1> <%= flash[:notice] %></h1>
<%= render partial: "layouts/footer" %>
</div><!-- end wrapper -->
</body>
</html>
